.nav-top {
    background-color: transparent!important;
    display: flex;
    width: 35%;
    left: 55%;
    top: 0.25%;
    position: relative!important;
    z-index: 3;
   
    margin-right: 10%!important;
    align-items: center;
}


/* .link-container {
    position: fixed;
    overflow-y:scroll;
    overflow-x:hidden;
} */

.link {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.link:hover {
    transition: 1s ease-in-out;
    color: #224459;
}

.link-columns {
    /* background: rgba(204, 204, 204, 0.7); */
    align-items: center;
    border-radius: 25px;
}

.link-columns div a {
    z-index: 2;
    opacity: 1;
}

.button {
    font-size: 18px;
}


